SUPABASE_URL=https://skvudyybapljvuxklefe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNrdnVkeXliYXBsanZ1eGtsZWZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY1MDUyNjQsImV4cCI6MjA1MjA4MTI2NH0.eWH4lqdu3xfLHP8vS8Y2QRCj9ce366jH6U4OoS8jlIQ